version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    networks:
      - chat-net
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - chat-net
    restart: always

networks:
  chat-net:
    driver: bridge
